<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #8737FA;"></span>
    <span class="sg-label">
			 $color-brand-purple <br />
			#8737FA
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #B061FC;"></span>
    <span class="sg-label">
			 $color-brand-opacity-purple <br />
			#B061FC
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #757575;"></span>
    <span class="sg-label">
			 $color-brand-grey-text <br />
			#757575
		</span>
  </li>
</ul>