<img src="../../image/actu.svg" alt="Avatar" class="{{ styleModifier }}" />
<img src="../../image/event.svg" alt="Avatar" class="{{ styleModifier }}" />
<img src="../../image/tuto.svg" alt="Avatar" class="{{ styleModifier }}" />
<br>
<img src="../../image/account.svg" alt="Avatar" class="{{ styleModifier }}" />
<img src="../../image/herisson.svg" alt="Avatar" class="{{ styleModifier }}" />
<img src="../../image/clock.svg" alt="Avatar" class="{{ styleModifier }}" />
<img src="../../image/Shape.svg" alt="Avatar" class="{{ styleModifier }}" />
<img src="../../image/heart.svg" alt="Avatar" class="{{ styleModifier }}" />
<img src="../../image/glass.svg" alt="Avatar" class="{{ styleModifier }}" />