<img src="../../images/actu.svg" alt="Avatar" class="{{ styleModifier }}" />
<img src="../../images/event.svg" alt="Avatar" class="{{ styleModifier }}" />
<img src="../../images/tuto.svg" alt="Avatar" class="{{ styleModifier }}" />
<br>
<img src="../../images/account.svg" alt="Avatar" class="{{ styleModifier }}" />
<img src="../../images/herisson.svg" alt="Avatar" class="{{ styleModifier }}" />
<img src="../../images/clock.svg" alt="Avatar" class="{{ styleModifier }}" />
<img src="../../images/Shape.svg" alt="Avatar" class="{{ styleModifier }}" />
<img src="../../images/heart.svg" alt="Avatar" class="{{ styleModifier }}" />
<img src="../../images/glass.svg" alt="Avatar" class="{{ styleModifier }}" />