<div class="nav_all_categories">
{{> atoms-nav-categories}}
{{> atoms-nav-categories}}
{{> atoms-nav-categories}}
{{> atoms-nav-categories}}
{{> atoms-nav-categories}}
{{> atoms-nav-categories}}
{{> atoms-nav-categories}}
</div>
