<div>Primary font bold: "Brandon Grotesque - Bold";</div>
<div><em>Primary font italic: "Brandon Grotesque - Regular Italic";</em></div>
<div><strong>Primary font bold: "Brandon Grotesque - Black";</strong></div>
<div>Primary font bold: "Brandon Grotesque - Medium Italic";</div>
