<img src="../../image/button_black.png" alt="Avatar" class="{{ styleModifier }}" />
<img src="../../image/button_black2.png" alt="Avatar" class="{{ styleModifier }}" />
<img src="../../image/button_black3.png" alt="Avatar" class="{{ styleModifier }}" />
