<div class="list-article">
{{>molecules-article_block}}
{{>molecules-article_block}}
{{>molecules-article_block}}
{{>molecules-article_block}}
</div>

<div class="list-article2">
{{>molecules-article_block}}
{{>molecules-article_block}}
{{>molecules-article_block}}
{{>molecules-article_block}}
</div>
