/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * Heading 1
 */
h1  {
	/* "J'ai raté mes trois: */
	font-family: "brandon-grotesque-medium-italic";
	font-size: 33px;
	color: #8737FA;
}

/**
 * Heading 2
 */
h2 {
	line-height: 1.2;
}

/**
 * Heading 3
 */
h3  {
	font-family: "brandon-grotesque-bold";
	font-size: 22.5px;
}

/**
 * Heading 4
 */
h4  {

}

/**
 * Heading 5
 */
h5 {

}

/**
 * Heading 6
 */
h6 {
	font-family: "brandon-grotesque-bold";
	font-size: 15px;


}

/**
 * Subheading
 */
.subheading {
	//font-family: $font-secondary;
	font-weight: normal;
}



.bigtitle{
	/* ACTUS Fat: */
	font-family: "brandon-grotesque-bold";
	font-size: 85px;
	color: #FFFFFF;
	letter-spacing: 3.75px;
	text-align: right;
	padding-right: 30px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bc68fd+0,8737fa+100 */
background: #bc68fd; /* Old browsers */
background: -moz-linear-gradient(left, #bc68fd 0%, #8737fa 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #bc68fd 0%,#8737fa 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #bc68fd 0%,#8737fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc68fd', endColorstr='#8737fa',GradientType=1 ); /* IE6-9 */


}
